.App {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  width: 20%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: rgba(153, 0, 255, 0.25);
  border-right: 5px solid rgb(241, 180, 180);
}

header img {
  width: 85%;
  margin: 40px 0 10px 20px;
  border-radius: 10px;
}

.side-text {
  width: 80%;
  padding: 20px;
  color: rgb(70, 20, 70);
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;
  padding-left: 50px;
  font-size: 1.5rem;
  margin-top: 40px;
  color: rgb(70, 20, 70);
}

.link-container p {
  height: 40px;
  margin: 5px;
}

.home-content {
  width: 80%;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  padding: 20px 50px 20px 50px;
  margin-left: 20%;
  margin-top: 5%;
  color: rgb(70, 20, 70);
}

.home-content img {
  position: absolute;
  top: -90px;
  left: 78%;
}

.home-content h1 {
  margin-top: 50px;
}

.button-container {
  margin-top: 40px;
}

.button-container a {
  margin-right: 20px;
  text-decoration: none;
  background: rgb(255, 230, 230);
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  color: rgb(70, 20, 70);
  /* width: 600px; */
}

.button-container a:hover {
  background: rgb(70, 20, 70);
  color: rgb(255, 230, 230);
}

/* .top-text {
  width: 60%;
  font-size: 1.8rem;
  text-align: center;
}

.middle-text {
  width: 50%;
}

.img-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}

.img-links img {
  width: 25%;
  border-radius: 10px;
}

.top-img {
  width: 60%;
  margin: 20px 50px 20px 50px;
  border-radius: 10px;
}

.construction {
  width: 200px;
  height: 200px;
} */
