.App {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  width: 20%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: rgba(153, 0, 255, 0.25);
  border-right: 8px solid rgb(182, 190, 134);
}

header img {
  width: 85%;
  margin: 20px 0 10px 20px;
  border-radius: 10px;
}

.side-text {
  width: 80%;
  padding: 20px;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50px;
  padding-left: 50px;
  font-size: 1.5rem;
  margin-top: 40px;
}

.link-container p {
  height: 40px;
  margin: 5px;
}

.home-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 50px 20px 50px;
  margin-left: 20%;
}

.top-text {
  width: 60%;
  font-size: 1.8rem;
  text-align: center;
}

.middle-text {
  width: 50%;
}

.img-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}

.img-links img {
  width: 25%;
  border-radius: 10px;
}

.top-img {
  width: 60%;
  margin: 20px 50px 20px 50px;
  border-radius: 10px;
}

.construction {
  width: 200px;
  height: 200px;
}
